.settings-page {
  padding: 90px 0px;

  background-color: #f5f7fb;

  min-height: 100vh;
}

.settings-header {
  margin-bottom: 50px;
}

.settings-title {
  font-size: 56px;

  color: #0a122a;

  font-weight: 700;

  margin-bottom: 14px;

  letter-spacing: -1px;
}

.settings-subtitle {
  color: #64748b;

  font-size: 17px;

  line-height: 1.8;
}

.settings-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

  gap: 35px;
}

.settings-card {
  background-color: white;

  border: 1px solid #e2e8f0;

  border-radius: 28px;

  padding: 40px;

  box-shadow: 0px 12px 30px rgba(10, 18, 42, 0.04);
}

.settings-card h2 {
  font-size: 30px;

  color: #0a122a;

  margin-bottom: 30px;

  font-weight: 700;
}

.setting-item {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding-bottom: 20px;

  margin-bottom: 20px;

  border-bottom: 1px solid #f1f5f9;
}

.setting-item:last-child {
  margin-bottom: 0;

  border-bottom: none;
}

.setting-info h3 {
  color: #0a122a;

  font-size: 18px;

  margin-bottom: 8px;
}

.setting-info p {
  color: #64748b;

  font-size: 15px;
}

.toggle-btn {
  width: 65px;

  height: 34px;

  border-radius: 30px;

  background-color: #90ee90;

  position: relative;

  cursor: pointer;
}

.toggle-circle {
  width: 28px;

  height: 28px;

  border-radius: 50%;

  background-color: white;

  position: absolute;

  top: 3px;

  right: 4px;
}
.toggle-btn.active .toggle-circle {
  right: 33px;
}
.summary-item {
  display: flex;
}
