.faq-page {
  padding: 90px 0px;

  background-color: #f5f7fb;

  min-height: 100vh;
}

.faq-header {
  text-align: center;

  margin-bottom: 70px;
}

.faq-title {
  font-size: 60px;

  color: #0a122a;

  font-weight: 700;

  margin-bottom: 20px;
}

.faq-subtitle {
  max-width: 750px;

  margin: auto;

  color: #64748b;

  font-size: 18px;

  line-height: 1.9;
}

.faq-list {
  display: flex;

  flex-direction: column;

  gap: 25px;
}

.faq-card {
  background-color: white;

  border: 1px solid #e2e8f0;

  border-radius: 24px;

  padding: 35px;

  box-shadow: 0px 12px 30px rgba(10, 18, 42, 0.04);
}

.faq-card h2 {
  color: #0a122a;

  font-size: 24px;

  margin-bottom: 16px;

  font-weight: 700;
}

.faq-card p {
  color: #64748b;

  line-height: 1.9;

  font-size: 16px;
}
.toggle-btn {
  width: 60px;

  height: 30px;

  background-color: #e2e8f0;

  border-radius: 15px;

  position: relative;

  cursor: pointer;
}
.toggle-circle {
  width: 22px;

  height: 22px;

  background-color: white;

  border-radius: 50%;

  position: absolute;

  top: 4px;
}
